<servlet>
    <servlet-name>AddSupplier</servlet-name>
    <servlet-class>controller.supplier.AddSupplierServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddSupplier</servlet-name>
<url-pattern>/AddSupplierServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditSupplier</servlet-name>
<servlet-class>controller.supplier.EditSupplierServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EditSupplier</servlet-name>
<url-pattern>/EditSupplierServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteSupplier</servlet-name>
<servlet-class>controller.supplier.DeleteSupplierServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteSupplier</servlet-name>
<url-pattern>/DeleteSupplierServlet</url-pattern>
</servlet-mapping>
